// our project colors will go here

$color-picton-blue: #59ABE3;
$color-old-brick: #96281B;
$color-silver-sand: #BDC3C7;
$color-ebony-clay: #22313F;
$color-porcelain: #ECF0F1;
$color-grey: #696969;
$color-dark: #202020;
$color-white: #FFF;
