.Blog {
  position: relative;

  width: 800px;
  margin: 40px auto 0px;
}

.Blog-Controls {
  text-align: center;

  .Button {
    width: 100%;
    background: $color-picton-blue;

    &:hover {
      background: lighten($color-picton-blue, 5);
    }
  }
}

.Layout-Message {
  padding: 20px;

  background: $color-white;
  border-radius: 4px;

  color: $color-ebony-clay;
  font-size: $fs-xxl;
  font-weight: $fw-bold;
  text-align: center;
}
